body { 
  background: url(/img/blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.shadow {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* This parent can be any width and height */
.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
}

#form {
  background: white;
  border-radius: 3px;
  padding: 12px;
  width: 96%;
}

#form h1 {
  margin-top: 0;
}

#form .button, #stats .button {
  margin: 16px 0 0 0;
}

#stats {
  padding: 70px 0;
  width: 96%;
}

.note {
  margin-top: 16px;
}

.stats {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  margin: 20px 0;
  width: 100%; 
}

.no-margin {
  margin: 0;
}

.padded {
  padding: 20px;
}

.bar {
  fill: #d95c5c;
}

.bar:hover {
  fill: #dc6868;
}

.axis {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#what-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

footer a, footer a:visited {
  color: #555;
}

footer a:hover {
  color: #777;
}

.hide {
  display: none;
}

@media only screen and (min-width: 625px) {
  #form {
    padding: 20px;
    width: 500px; 
  }

  #stats {
    width: 600px;
  }
}
