body { 
  background: url(/img/blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.shadow {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* This parent can be any width and height */
.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
}

#outdated {
  background: white;
  left: 20px;
  padding: 20px;
  position: absolute;
  top: 20px;
}

.logo {
  background-image: url(/img/logo.png);
  background-size: 72px 72px;
  height: 72px;
  margin: 0 auto 16px auto;
  width: 72px;
}

#form {
  background: white;
  border-radius: 3px;
  padding: 12px;
  width: 96%;
}

#form h1 {
  margin-top: 0;
}

#form .button, #stats .button {
  margin: 16px 0 0 0;
}

#stats {
  padding: 70px 0;
  width: 96%;
}

.note {
  margin-top: 16px;
}

.social > iframe {
  vertical-align: bottom;
}

.stats {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
  width: 100%; 
}

.no-margin {
  margin: 0;
}

.bar {
  fill: #d95c5c;
}

.bar:hover {
  fill: #dc6868;
}

.axis {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.legend {
  font-size: 12px;
}

.legend rect {
  stroke-width: 2;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

#what-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

footer a, footer a:visited {
  color: #555;
}

footer a:hover {
  color: #777;
}

.hide {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
         
  .logo {
    background-image: url(/img/logo@2x.png);
  }
}

@media only screen and (min-width: 625px) {
  #form {
    padding: 20px;
    width: 500px; 
  }

  #stats {
    width: 600px;
  }

  #what-button {
    font-size: 1.28571429rem;
    right: 20px;
    top: 20px;
  }
}
